[Desktop Entry]
Comment[en_US]=
Comment=
Exec=/home/behm/dvlsw/@ibb/Tachyon-IDE/bin/tachyonForth-IDE
GenericName[en_US]=
GenericName=
Icon=/home/behm/dvlsw/@ibb/Tachyon-IDE/pics/useforthlogo-s.png
MimeType=
Name[en_US]=
Name=
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
